.back {
    background: linear-gradient(#F6EDD3, #CCD9CE, #9AC0BA, #5B9496, #0A1827)
}
.tittle {
    display: flex;
    background-color: #0A1827;
    height: 50px;
    padding: 50px 0 20px 50px;
}
.tittle2 {
    display: block;
    /*background: linear-gradient(#0A1827, #CCD9CE);*/
    height: 90px;
    text-align: center;
    font-size: 70px;
    font-family: 'Quicksand', sans-serif;
    padding: 25px 0 15px 0;
    margin-bottom: 25px;
    color: #0A1827;
    text-shadow: #5B9496 2px 5px;
}
.container {
    display: flex;
    justify-content: center;
    height: 480px;
}

/*Entrada*/
.in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
}
#lbox1 {
    color: #0A1827;
    text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 10px 10px 10px;
}
#box1 {
    width: 85%;
    height: 300px;
    border-radius: 10px;
    border-style: dotted;
    margin: 10px 0 20px 10px;
    background-color: 10%;
    padding: 1em;
    resize: none;
    background: transparent;
}
#box1:hover{
    background-color:#CCD9CE;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}
.btn {
    margin: auto;
    width: 150px;
    background-color: #F6EDD3;
    color: #0A1827;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 4px 0 4px 0;
    cursor: pointer;
    
}
.btn:hover {
    border: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

/*Salida*/
.out{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    vertical-align: top;
}
#lbox2 {
    color: #0A1827;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 10px 10px 10px;
}
#box2 {
    width: 85%;
    height: 300px;
    border-radius: 10px;
    border-style: dotted;
    margin: 10px 0 20px 10px;
    background-color: 10%;
    padding: 1em;
    resize: none;
    background: transparent;
}
#box2:hover{
    background-color:#CCD9CE;
}
.btncopy {
    margin: auto;
    width: 150px;
    background-color: #F6EDD3;
    color: #0A1827;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 4px 0 4px 0;
    cursor: pointer;
}
.btncopy:hover {
    border: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

hr {
    border: 0;
    box-shadow: inset 0 12px 12px -12px #F6EDD3;
    margin: 20px 0 5px 0;  
    height: 12px;  
}
.bottom {
    background-color: #0A1827;
    height: 100%;
    margin: 0%;
    font-size: 12px;
    padding: 10px 0 20px 0;
    color: white;
}

@media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 33%;
    }